# Ambientes virtuais
venv/
.env/
.venv
venv.
/venv

# Arquivos Python compilados
__pycache__/
*.py[cod]

# Logs
*.log

# VS Code settings
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db
